body.page-template-about {

	section.page-header {
		padding: 50px 0;

		@include tablet-portrait {
			padding-top: 75px;
		}

		.wrapper {
			max-width: 960px;
		}
	}


	section.main {
		padding-bottom: 100px;

		.wrapper {
			max-width: 960px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		section.content {
			width: 100%;
			padding-bottom: 50px;

			@include tablet-portrait {
				width: calc(66.6666% - 25px);
				padding-bottom: 0;
			}
		}

		section.masthead {
			width: 100%;
			padding: 50px;
			background: #fafafa;

			@include tablet-portrait {
				width: calc(33.3333% - 25px);
			}

			.section-header {
				text-align: center;
				padding-bottom: 30px;

				h3 {
					font-size: 1.75em;
					display: inline-block;
					border-bottom: 2px solid $red;
				}
			}

			.position {
				text-align: center;

				a {
					display: block;
				}

				span.name {
					display: block;
					font-weight: bold;
					padding-bottom: 5px;
				}

				span.title {
					display: block;
					font-family: $proxima-nova;
					font-size: 0.875em;
					color: $mid-gray;
				}

				& + .position {
					padding-top: 30px;
				}
			}
		}
	}

	section.jobs {
		background: #fafafa;
		padding: 100px 0 150px 0;

		.wrapper {
			max-width: 720px;
		}

		.section-header {
			text-align: center;
			max-width: 640px;
			margin: 0 auto;
			padding-bottom: 0;

			h3 {
				font-size: 1.75em;
				display: inline-block;
				border-bottom: 2px solid $red;
			}

			.copy {
				padding-top: 30px;
			}
		}

		.job-listings {
			padding-top: 75px;
		}

		article.job {

			& + article.job {
				margin-top: 50px;
				border-top: 2px solid $red;
				padding-top: 50px;
			}


			.meta {
				display: flex;
				align-items: center;
				font-family: $proxima-nova;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.75rem;
				padding-bottom: 15px;

				* + * {
					padding-left: 25px;
				}

				span {
					font-weight: 500;
					color: $charcoal;
					background-repeat: no-repeat;
					background-position: left center;
					padding-left: 24px;

				}

				.category {
					span {
						background-image: url('images/category-icon-red.svg');
						background-size: 16px 16px;
					}
				}

				.location {
					span {
						background-image: url('images/location-icon-red.svg');
						background-size: 16px 16px;
						padding-left: 22px;
					}
				}
			}

			.headline {
				h4 {
					font-size: 1.5rem;

					a {
						display: inline-block;
						border-bottom: 2px solid transparent;

						&:hover {
							border-color: $red;
						}
					}
				}
			}

			.copy {
				padding-top: 10px;

				p {
					font-family: $proxima-nova;
					font-size: 0.9375rem;
					line-height: 1.5em;
				}
			}

			.read-more {
				padding-top: 15px;

				a {
					color: $red;
					text-decoration: none;
					font-size: 0.8125rem;
					font-family: $proxima-nova;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 500;
					display: inline-block;
					border-bottom: 2px solid transparent;

					&:hover {
						border-color: $red;
					}
				}
			}
		}

		.no-jobs {
			article.job {
				.headline {
					text-align: center;
				}
			}
		}
	}
}