body.category {


	section.page-header {
		padding: 50px 0 50px 0;

		text-align: center;

		h1 {
			border-bottom: 3px solid $red;
			display: inline-block;
		}
	}


	section.main {
		padding: 0 0 100px 0;

		.wrapper {
			max-width: 840px;
		}
	}

	section.posts {


		@include mobile-landscape {
			display: grid;
			grid-gap: 50px 20px;
			grid-template-columns: 1fr 1fr;
		}

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr 1fr; 
		}

		article {
			padding-bottom: 50px;

			@include mobile-landscape {
				padding-bottom: 0;
			}

			.photo {
				@include aspect-ratio(4, 3);

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center top;
				}
			}

			.info {
				padding-top: 20px;

				.meta {
					padding-bottom: 10px;
					span.date {
						display: block;
						text-transform: uppercase;
						letter-spacing: 0.02em;
						font-family: $proxima-nova;
						color: $red;
						font-size: 0.8125em;
						font-weight: bold;
					}
				}

				.headline {
					h3 {
						font-size: 1.125em;
						line-height: 1.125em;

						a {
							border-bottom: 2px solid transparent;

							&:hover {
								border-bottom: 2px solid $red;
							}
						}
					}
				}
			}

			&.post-1 {
				.copy {
					padding-top: 10px;
				}
				@include mobile-landscape {
					grid-column-start: 1;
					grid-column-end: 3;
					border-bottom: 1px solid $light-gray;
					padding-bottom: 50px;
					margin-bottom: 50px;

					.photo {
						@include aspect-ratio(16, 9);
					}

					.info {

						.headline {
							max-width: 640px;

							h3 {
								font-size: 1.75em;
							}
						}

						.copy {
							max-width: 720px;

							p {
								font-size: 1.25em;
								line-height: 1.25em;
							}
						}
					}
				}

				@include tablet-portrait {
					grid-column-end: 4;
				}
			}

		}
	}
}
