footer {
	border-top: 5px solid $red;
	background: #1a1a1a;
	padding: 50px 0;
	color: $white;

	@include tablet-landscape {
		padding: 70px 0;
	}

	a {
		color: $white;
	}

	.header {
		width: 100%;
		padding-bottom: 20px;

		h5 {
			font-family: $proxima-nova;
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			color: $mid-gray;

			&:after {
				content: '';
				display: block;
				width: 30px;
				height: 3px;
				background: $mid-gray;
				margin-top: 10px;
			}

		}
	}

	.footer-logo {
		a {
			display: block;
			max-width: 200px;

			@include tablet-portrait {
				max-width: 300px;
			}
		}
	}

	.footer-utilities {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.navigation {
			width: 100%;

			@include tablet-portrait {
				width: 25%;
			}

			.link {
				& + .link {
					padding-top: 20px;
				}
				a {
					font-family: $proxima-nova;
					font-weight: bold;
					font-size: 1em;
				}
			}
		}

		.social {
			width: 100%;
			padding-top: 50px;

			@include tablet-portrait {
				width: 25%;
				padding-top: 0;
			}

			.links {
				display: flex;
				align-items: center;

				.social-link {
					

					& + .social-link {
						padding-left: 40px;
					}

					a {
						display: block;
						max-width: 22px;
					}

					&.twitter {
						padding-top: 1px;
					}
				}
			}
		}

		.subscribe {
			width: 100%;
			padding-top: 50px;
			max-width: 470px;

			@include tablet-portrait {
				width: 50%;
				margin-left: auto;
				padding-top: 0;
			}

			#mc_embed_signup form {

				 div.mce_inline_error {
					background: $red;
					font-family: $proxima-nova;
					font-size: 0.875em;
					width: 100%;
					margin: 10px 0 0 0;
				}

				*:focus,
				*:active {
					outline: none;
				}

				.mc-field-group {
					display: flex;
					flex-wrap: wrap;
					align-items: center;	
				}

				input.email {
					appearance: none;
					border: none;
					font-family: $proxima-nova;
					padding: 10px;
					width: 100%;
					margin: 0 0 20px 0;

					@include mobile-landscape {
						width: auto;
						flex: 1;
						margin: 0 20px 0 0;
					}

				}

				input.subscribe-btn {
					background: transparent;
					border-color: $white;
					color: $white;

					&:hover {
						background: $white;
						color: $charcoal;
					}
				}
			}
		}
	}

	.copyright {
		padding-top: 20px;
		border-top: 1px solid #5B5B5B;

		p {
			font-size: 0.75em;
			color: $mid-gray;
			font-family: $proxima-nova;
		}
	}
}