header {
	padding: 25px 0;
	border-top: 5px solid $red;
	border-bottom: 1px solid $off-white;

	&.header-overlay {
		position: absolute;
		z-index: 100;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);

		@include tablet-portrait {
			border-bottom: none;
		}

		@include tablet-landscape {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}

		.logo {
			.site-tagline {
				span {
					color: $white;
				}
			}		
		}

		.desktop-nav-links {
			a {
				color: $white;
			}
		}

		#toggle {
			.patty {
			    background: $white;

				&:after, &:before {
				    background: $white;
				}
			}
		}
	}

	.wrapper {
		max-width: 100%;
		padding: 0 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		@include tablet-landscape {
			display: flex;
		}
		

		.logo-type {
			img {
				max-width: 200px;

				@include tablet-portrait {
					max-width: 140px;
				}

				@include tablet-landscape {
					max-width: 200px;
				}

				@include desktop {
					max-width: 250px;
				}
			}
		}

		.site-tagline {			
			display: none;

			@include tablet-portrait {
				padding: 10px 0 0 0;
				display: block;
			}

			@include tablet-landscape {
				padding: 5px 0 0 20px;
			}

			@include desktop {
				padding: 8px 0 0 20px;
			}

			span {
				font-size: 0.875em;
				color: $red;

				@include desktop {
					font-size: 1em;
				}
			}
		}
	}

	.desktop-nav-links {
		display: none;

		@include tablet-portrait {
			display: flex;
			align-items: center;
			margin-bottom: auto;
			padding-top: 7px;
			padding-left: 40px;
		}

		@include desktop {
			padding-top: 9px;
		}

		a {
			color: $red;
			font-family: $proxima-nova;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			display: block;
			font-size: 0.75em;
			font-weight: bold;

			& + a {
				&:before {
					content: "·";
					padding: 0 20px;

					@include tablet-portrait {
						padding: 0 15px;
					}
				}
			}

			&:hover {
				span {
					text-decoration: underline;
				}
			}

			@include desktop {
				font-size: 0.875em;
			}
		}
	}

	.utilities {
		margin-left: auto;
		display: flex;
		align-items: center;

		@include tablet-portrait {
			margin-bottom: auto;
			padding-top: 5px;
		}

		.social,
		.subscribe {
			display: none;

			@include tablet-portrait {
				padding-right: 20px;
			}

			@include desktop {
				padding-right: 30px;
			}			
		}

		.social {
			@include tablet-landscape {
				display: flex;
				align-items: center;

				.social-link {
					display: block;

					& + .social-link {
						padding-left: 30px;
					}

					&.facebook {
						img {
							width: 100%;
							max-width: 10px;
							transform: translateY(-1px);
						}
					}

					&.twitter {
						img {
							width: 100%;
							max-width: 20px;
						}
					}
				}
			}
		}

		.subscribe {
			@include tablet-portrait {
				display: block;
			}
			.subscribe-btn {
				@include tablet-portrait {
					font-size: 0.875em;
					padding: 11px 16px 8px 16px;
				}

				@include desktop {
					font-size: 1em;
				}

			}
		}

		.search {
			padding-right: 20px;

			@include desktop {
				padding-right: 30px;
			}		

			.search-btn {
				img {
					width: 100%;
					max-width: 18px;

					@include desktop {
						max-width: 20px;
					}
				}
			}
		}
	}

	#toggle {
		width: 30px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;

	    @include desktop {
	    	width: 40px;
	    }

		.patty {
		    width: 20px;
		    height: 2px;
		    background: $charcoal;
		    transition: all 0.3s;

		    @include desktop {
		    	width: 30px;
		    }

			&:after, &:before {
			    content: '';
			    display: block;
			    height: 2px;
			    background: $charcoal;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			}
			&:before {
				width: 30px;
			    top: -7px;

			    @include desktop {
			    	width: 40px;
			    }
			}
			&:after {
			    width: 25px;
			    top: 7px;

		   		@include desktop {
		   			width: 35px;
			    }
			}
		}
	}

	&.open {
		z-index: 10001;

		#toggle {
			z-index: 100002;
	
			.patty {
				background: none;

				&:before {
				    top: 0;
				    transform: rotate(-45deg);
				    width: 25px;
			   		@include desktop {
			   			width: 25px;
				    }
				}

				&:after {
				    top: 0;
				    transform: rotate(45deg);

			   		@include desktop {
			   			width: 25px;
				    }
				}
			}
		}
	}
}
