body.home {

	section.featured-articles {

		article {
			a {
				display: block;
			}

			.photo {
				@include aspect-ratio(4, 4);
				max-height: 767px;

				@include mobile-landscape {
					@include aspect-ratio(3, 4);
					max-height: 90vh;
				}

				@include tablet-portrait {
					@include aspect-ratio(4, 3);
					
				}

				@include desktop {
					height: 90vh;
					@include aspect-ratio(16, 9);
				}

				.content {
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 2;
						background: linear-gradient(-25deg, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
					}	
				}

				img {
					object-fit: cover;
					object-position: center top;
					width: 100%;
					height: 100%;
					filter: saturate(0.6);
					z-index: 1;
					position: relative;
				}
			}

			.info {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
				height: 100%;
				display: flex;
				align-items: flex-end;
				padding: 25px 25px 150px 25px;
				color: $white;

				@include mobile-landscape {
					padding: 25px;
					align-items: center;
				}

				@include desktop {
					padding: 40px;
				}

				&-wrapper {

				}

				.headline {
					max-width: 840px;
					width: 90%;

					@include tablet-portrait {
						max-width: 75%;
					}

					@include desktop {
						max-width: 60%;
					}

					h1 {
						color: $white;
						text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

						@include desktop {
							font-size: 3.5em;
						}
					}
				}

				.dek {
					padding-top: 25px;
					max-width: 680px;
					display: none;

					@include tablet-portrait {
						display: block;
					}

					p {
						font-family: $proxima-nova;
						font-weight: bold;
						line-height: 1.25em;
						font-size: 1.125em;
						text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);


						@include tablet-portrait {
							font-size: 1.5em;
						}
					}
				}
			}					
		}

		.slick-dots {
			bottom: 10px;

			li {
				width: 40px;
				height: 30px;
				margin: 0 5px;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
				filter: saturate(0);
				transition: all 0.2s ease-in;

				@include mobile-landscape {
					border-width: 2px;
				}

				&.slick-active {
					border-color: $red;
					filter: saturate(0.6);
				}

				@include tablet-portrait {
					width: 120px;
					height: 80px;
					margin: 0 10px;
				}

				a {
					display: block;
					width: 100%;
					height: 100%;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;						
					}
				}
			}

		}
	}

	section.main {
		border-top: 5px solid $red;
	}

	section.quick-hits {
		border-bottom: none;
	}
}