body.single-post,
body.category-quick-hits {

	article.quick-hit {
		order: -1;
		padding: 50px 25px 20px 25px;
		border-bottom: 1px solid $off-white;

		section.header,
		section.body {
			max-width: 770px;
			margin: 0 auto;
		}


		@include tablet-landscape {
			order: 2;
			padding: 75px 50px;
			max-width: 820px;
			margin-right: auto;
			margin-left: 0;
		}

		@include desktop {
			margin-left: 75px;
		}

		section.header {
			.share {
				justify-content: flex-start;
				padding-bottom: 40px;
			}

			.dek {
				text-align: left;
				max-width: 100%;
				padding-bottom: 0;

				& +.byline {
					padding-top: 30px;
				}
			}

			.quick-hit-photo {
				.credit {
					position: absolute;
					bottom: 0;;
					right: 0;
					z-index: 10;
				}

				.caption {
					margin: 15px 0 0 0;

					p {
						color: $mid-gray;
						text-align: left;
						font-size: 0.9375em;
						line-height: 1.5em;
						font-style: italic;						
					}
				}
			}

			.quick-hit-date {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				font-size: 1em;
				padding-bottom: 20px;

				@include tablet-portrait {
					font-size: 1.125em;
				}

				.tagline {
					display: flex;
					padding-bottom: 10px;

					@include tablet-portrait {
						padding-bottom: 0;
					}
				}

				.date {
					width: 100%;

					@include tablet-portrait {
						width: auto;
						padding-top: 0;
					}
				}
			}
			.quick-hit-photo {
				padding: 30px 0 30px 0;
			}

			.byline {
				justify-content: flex-start;
				padding: 0 0 40px 0;


				.authors {
					justify-content: flex-start;
					width: auto;

					&:after {
						display: none;
					}
				}

				.date {
					width: auto;
					padding: 0;			
				}

				.authors + .date {
					&:before {
						content: '·';
						padding: 0 10px;
					}	
				}
			}

			.title + .byline {
				padding-top: 20px;
			}

			.dateline {
				padding-bottom: 20px;
				transform: translateX(0);
			}

			.header-wrapper {
				.title:last-child {
					padding-bottom: 40px;

					@include tablet-portrait {
						padding-bottom: 80px;
					}
				}
			}
		}

		section.body {
			padding-bottom: 0;
		}
	}
}

body.category-quick-hits {
	section.main {
		padding-bottom: 0 !important;
	}

	section.article-teasers {
		order: 1;
		width: calc(100% - 50px);
		margin: 0 auto 0 auto;

		@include tablet-portrait {
			flex: 2;
			order: 1;
			padding-top: 50px;
			margin: 0 25px
		}

		.section-header {
			padding: 30px 0 0 0;
			text-align: center;

			&.mobile {
				margin-bottom: 25px;
				@include tablet-portrait {
					display: none;
				}
			}

			h2 {
				font-weight: bold;
				font-size: 1.5em;

				a {
					border-bottom: 2px solid $red;
					padding-bottom: 3px;
					display: inline-block;				
				}
			}
		}

		.alm-reveal {

			& + .alm-reveal {
				margin-top: 50px;

			}
		}

		article.quick-hit {
			border: 1px solid $off-white;
			border-top: 3px solid $red;
			background: $white;
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
			padding: 35px 25px 25px 25px;

			@include tablet-portrait {
				padding: 50px 50px 25px 50px;
			}

			& + article.quick-hit {
				margin-top: 50px;
			}



			section.header {
				.quick-hit-date {
					font-size: 1em;
					padding-bottom: 10px;
				}
			
				.x-large-title {
					font-size: 1.5em;
					@include tablet-portrait {
						font-size: 1.5em;
					}

					@include tablet-landscape {
						font-size: 1.75em;
					}

					a {
						&:hover {
							text-decoration: underline;
						}
					}
				}

				.quick-hit-photo {
					padding: 20px 0;

					.caption {
						margin-top: 10px;
					}
				}
			}

			section.body.p2 {
				line-height: 1.75em;
				font-size: 1.125em;

				.show-more-wrapper {
					overflow: hidden;
					height: 12em;
				}

				&.expanded {
					.show-more-wrapper {
						height: auto;
						padding-bottom: 25px;
					}

					.subscribe-btn {
						display: none;
					}
				}

				.show-more-btn {
					padding: 40px 0 25px 0;
					display: flex;
					justify-content: center;

					.subscribe-btn {
						border-bottom: none;
						line-height: 1em; 
						@include tablet-portrait {
							font-size: 0.875em;
							padding: 13px 20px 10px 20px;
						}

					}
				}

				p {
					& + p {
						padding-top: 25px;
					}
				}
			}

			section.footer {
				padding-top: 25px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;

				.date {
					span {
						display: block;
						color: #ccc;
						font-family: $proxima-nova;
						font-weight: 500;
						text-transform: uppercase;
						font-size: 1rem;
						letter-spacing: 0.05em;
					}
				}



				.share {
					display: flex;
					justify-content: flex-end;
					align-items: center;


					span.label {
						display: none;
					}

					.link {

						& + .link {
							margin-left: 10px
						}
						a {
							width: 28px;
							height: 28px;
							border: 2px solid $red;
							border-radius: 50%;
							padding: 5px;
							display: flex;
							align-items: center;
							justify-content: center;

							&:hover {
								background: $red;
							}
						}
					}
				}				
			}
		}
	}

	section.quick-hits {
		order: 2;
		display: none;

		@include tablet-portrait {
			display: block;
			order: 1;
		    max-width: 360px;
		    border-right: 1px solid #eee;
		    border-bottom: none;
		}
	}

	nav.pagination {
		max-width: 850px;
		padding-bottom: 50px;
	}
}