body.search-results {

	section.page-header {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 100px;
		}

		.wrapper {
			max-width: 640px;
		}
	}

	section.results {
		padding: 50px 0 100px 0;
		min-height: 60vh;

		.wrapper {
			max-width: 640px;
		}

		article.quick-hit-preview  {
			a {
				padding: 20px 0;
			}
		}
	}
}