body.single-authors {

	section.page-header {
		padding-top: 50px;
		text-align: center;

		@include tablet-portrait {
			padding-top: 75px;
		}

		.wrapper {
			max-width: 840px;
		}

		.photo {
			max-width: 300px;
			margin: 0 auto;
			padding-bottom: 25px;

			img {
				border-radius: 50%;
			}
		}

		.headline {
			h1 {
				display: flex;
				justify-content: center;
				align-items: center;

				a.twitter,
				a.email {
					width: 24px;
					height: 24px;
					display: block;
					margin-left: 20px;
				}

				a.email {
					transform: translateY(-3px);
				}
			}

			h3 {
				font-weight: normal;
				font-style: italic;
				color: $mid-gray;
				padding-top: 10px;
			}
		}

		.copy {
			padding-top: 25px;
		}
	}

	section.results {
		padding: 100px 0;
		min-height: 60vh;


		&.no-results {
			min-height: 0;
			padding: 0 0 100px 0;

			@include tablet-portrait {
				min-height: 40vh;
			}
		}

		.wrapper {
			max-width: 640px;
		}

		.section-header {
			text-align: center;
			padding-bottom: 25px;

			h2 {
				display: inline-block;
				padding-bottom: 2px;
				border-bottom: 2px solid $red;
			}
		}

		article.quick-hit-preview  {
			a {
				padding: 20px 0;
			}
		}
	}
}


body.archive.author {
	section.main {
		min-height: 50vh;

		@include tablet-portrait {
			min-height: 60vh;
		}
	}
}