body.single-post,
body.category-quick-hits {

	article {

		section.header {

			.tagline {
				padding-bottom: 15px;

				@include desktop {
					padding-bottom: 25px;
				}

				strong, h4 {
					color: $red;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-family: $proxima-nova;
					font-size: 0.875em;
				}
			}

			.title + .byline {
				padding-top: 25px;
			}

			.dek {
				margin: 0 auto;
				max-width: 600px;
				padding: 20px 0;


				p {
					font-style: italic;
					font-size: 1.125em;
					line-height: 1.5em;
					color: $mid-gray;

					@include mobile-landscape {
						font-size: 1.375em;
					}


				}
			}

			.byline {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				font-size: 1em;
				padding-bottom: 25px;

				@include tablet-portrait {
					font-size: 1.125em;
				}

				.authors {
					display: flex;
					justify-content: center;
					width: 100%;
					padding-bottom: 10px;

					@include tablet-portrait {
						width: auto;
						padding-bottom: 0;

						&:after {
							content: '·';
							padding: 0 10px;
						}
					}

					.by {
						padding-right: 5px;
					}

					.author  {
						display: flex;
						width: auto;

						&:before {
							content: ", ";
							margin-right: 6px;
						}

						&:first-of-type:before {
							content: "";
							margin-right: 0;
						}

						a {
							border-bottom: 2px solid $red;
						}
					}
				}
			}

			.share {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-bottom: 50px;

				@include tablet-landscape {
					padding-bottom: 20px;
				}

				span.label {
					font-family: $proxima-nova;
					text-transform: uppercase;
					letter-spacing: 0.05em;

				}

				.link {
					padding-left: 10px;
					a {
						width: 36px;
						height: 36px;
						border: 2px solid $red;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;

						&:hover {
							background: $red;
						}
					}
				}
			}

			.dateline {
				text-align: left;
				max-width: 800px;
				margin: 0 auto;
				transform: translateX(-30px);

				@include mobile-landscape {
					transform: translateX(-25px);
				}

				@include tablet-landscape {
					transform: translateX(0);
				}

				h5 {
					text-transform: uppercase;
					font-weight: 400;
					font-size: 1em;
					font-style: italic;
					letter-spacing: 0.1em;
					line-height: 1.25em;
					color: $mid-gray;

					@include mobile-landscape {
						font-size: 1.125em;
					}
				}
			}
		}

		section.body {
			padding-bottom: 50px;

			.wrapper {
				max-width: 90%;
				padding: 0;

				@include tablet-landscape {
					max-width: 800px;
				}
			}

			img {
				width: auto !important;
				height: auto !important;
				margin-bottom: 40px;
			}

			.twitter-tweet {
				width: 100% !important;
			}

			.wp-block-embed {
				margin-bottom: 40px;

				.fb_iframe_widget {
					width: 100%;

					& > span {
						width: 100% !important;
						height: auto !important;
					}

					iframe {
						width: 100% !important;
					}
				}
			}


			.wp-block-image {
				margin-bottom: 40px;

				img {
					margin-bottom: 0;
				}

				figcaption {
					color: $mid-gray;
					text-align: left;
					margin: 15px 0 0 0;
					font-size: 0.9375em;
					line-height: 1.5em;
					font-style: italic;
				}
			}

			.wp-caption {
				width: 100% !important;
			}
		}

		section.footer {

			.footer-wrapper {
				max-width: 90%;
				padding-top: 50px;
				border-top: 1px solid $off-white;
				padding-bottom: 50px;
				margin: 0 auto;

				@include tablet-landscape {
					max-width: 800px;
					padding-bottom: 100px;
				}
			}

			.section-header {
				padding-bottom: 40px;
				h2 {
					&:after {
						display: block;
						content: '';
						width: 40px;
						height: 4px;
						background: $red;
						margin-top: 10px;
					}
				}
			}

			.posts {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 50px 20px;

				@include mobile-landscape {
					grid-template-columns: 1fr 1fr;
				}

				@include tablet-portrait {
					grid-template-columns: 1fr 1fr 1fr;
				}
				

				article {
					.photo {
						@include aspect-ratio(4, 3);

						a {
							display: block;
							width: 100%;
							height: 100%;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center top;
						}						
					}
					.info {
						padding-top: 10px;

						.tagline {
							padding-bottom: 10px;
						
							strong, h4 {
								font-family: $proxima-nova;
								color: $red;
								text-transform: uppercase;
								font-weight: bold;
								font-size: 0.75em;
								letter-spacing: 0.05em;
							}
						}

						.headline {
							h3 {
								font-size: 1.25em;
								line-height: 1.125em;

								&:hover {
									text-decoration: underline;
								}
							}
						}

					}
				}
			}
		}


	}


	article.feature {
		section.featured-image {
			@include aspect-ratio(4, 4);
			max-height: 90vh;

			@include tablet-portrait {
				@include aspect-ratio(4, 3);
			}
			
			.content:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				background: linear-gradient(-25deg, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 100%);
			}

			img {
				object-fit: cover;
				object-position: center top;
				width: 100%;
				height: 100%;
				filter: saturate(0.6);
				z-index: 1;
				position: relative;
			}

			.credit {
				position: absolute;
				bottom: 0;;
				right: 0;
				z-index: 10;

				@include mobile-landscape {
					bottom: 10vh;
					right: 5%;
				}

				@include desktop {
					right: calc(50% - 500px);
				}
			}
		}

		section.header {			
			max-width: 90%;
			margin: 0 auto;

			@include desktop {
				max-width: 1000px;
			}

			.header-wrapper {
				width: 100%;
				background: $white;
				text-align: center;
				padding: 25px 30px;
				z-index: 3;

				@include mobile-landscape {
					padding: 35px 25px;
					margin-top: -10vh;
				}

				@include desktop {
					padding: 40px 50px 50px 50px;
				}
			}
		}


		section.body {
			padding-bottom: 50px;
			max-width: 90%;
			padding: 0;
			margin: 0 auto;

			@include tablet-landscape {
				max-width: 800px;
				padding-bottom: 50px;
			}


			& > p:first-child:first-letter {
				color: $charcoal;
				font-weight: bold;
				display: block;
				border: 4px solid $charcoal;
				float: left;
				font-size: 2.25em;
				line-height: 1em;
				padding: 5px 8px 5px 8px;
				margin: 4px 10px 0 0;

				@include desktop {
					padding: 10px 12px 8px 12px;
					margin: 5px 12px 0 0;
				}
			}
			
		}
	}
}