@import "global/variables";
@import "global/mixins";


.wp-block-group {
    padding-top: 50px;

    h2 {
        font-family: $tiempos-headline;
        text-align: center;
        padding: 0 0 25px 0;
        font-size: 28px;

        &:after {
            display: block;
            content: '';
            width: 40px;
            height: 4px;
            background: $red;
            margin: 15px auto 0 auto;
        }
        
        @include tablet-portrait {
            font-size: 32px;
        }
    }

    h4 {
        text-transform: uppercase;
        color: $red !important;
        font-family: $proxima-nova;
        font-weight: bold;
        letter-spacing: 0.05em;
        font-size: 14px !important;
        padding: 0;

        & + h3 {
            padding-top: 10px;
        }
    }

    h3 {
        font-family: $tiempos-headline;
        font-size: 24px;
        line-height: 1.25em;
        padding-bottom: 15px;

        @include tablet-portrait {
            font-size: 28px;
        }
    }
}
