body {
	background: $white;
	margin: 0 auto;
	max-width: 1920px;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.credit {
	p {
		color: $white;
		font-family: $proxima-nova;
		font-size: 0.6875em;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		padding: 5px 10px;
		background: rgba(0, 0, 0, 0.2);
	}
}

section.main {
	display: flex;
	flex-wrap: wrap;

	.page-content {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1240px;
		padding: 25px 0 50px 0;
		margin: 0 auto;
		
		@include tablet-landscape {
			padding: 30px;
		}
		
		@include desktop {
			padding: 30px 70px;
		}		
	}

	.sidebar {
		
	}
}


section.subscribe,
section#subscribe-form {


	.headline {
		h1 {
			@include tablet-landscape {
				font-size: 2.25em;
			}

			@include desktop {
				font-size: 2.75em;
			}
		}
	}

	.dek {
		padding-top: 10px;

		p {
			color: rgba(51, 51, 51, 0.6);
			font-family: $proxima-nova;
			font-size: 1em;
			font-weight: 600;
			line-height: 1.25em;

			@include tablet-landscape {
				font-size: 1.125em;
			}

		}
	}

	.form {
		padding: 25px 0 50px 0;

		@include tablet-landscape {
			padding: 25px 0 25px 0;
		}

		#mc_embed_signup form {

			 div.mce_inline_error {
				background: $red;
				font-family: $proxima-nova;
				font-size: 0.875em;
				width: 100%;
				margin: 10px 0 0 0;
			}

			.response {
				padding-top: 10px;
				font-family: $proxima-nova;
				font-size: 0.875em;
			}

			*:focus,
			*:active {
				outline: none;
			}

			.mc-field-group {
				display: flex;
				flex-wrap: wrap;
				align-items: center;	
			}

			input.email {
				padding: 10px;
				font-family: $proxima-nova;
				width: 100%;
				margin-bottom: 20px;
				border: 1px solid $light-gray;
				appearance: none;
				
				@include tablet-landscape {
					flex: 1;
					margin-right: 10px;
					margin-bottom: 0;
					padding: 11px 10px;
				}
			}
		}
	}

	.pullquote {
		display: none;
		background: url(images/quote-marks.svg) no-repeat left top;
		background-size: 72px 48px;



		@include tablet-portrait {
			display: block;
		}

		blockquote {
			padding: 30px 0 0 30px;
			margin: 0;
			position: relative;

			&:after {
				background: url(images/quote-marks-end.svg) no-repeat left top;
				background-size: 72px 48px;
				display: block;
				content: '';
				width: 72px;
				height: 48px;
				position: absolute;
				z-index: 1;
				right: 0;
				bottom: 0px;
			}

			p {
				font-style: italic;
				font-size: 1.25em;
				line-height: 1.6666em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}

		cite {
			display: flex;
			align-items: center;
			font-style: normal;
			padding: 15px 0 0 30px;

			.photo {
				width: 72px;

				img {
					width: 100%;
				}
			}

			.source {
				flex: 1;
				padding-left: 20px;

				h4 {
					font-size: 1.375em;
				}

				h5 {
					font-family: $proxima-nova;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.05em;
					color: $mid-gray;
					font-size: 0.875em;
					padding-top: 5px;
				}
			}
		}
	}
}

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: rgba(255, 255, 255, 0.95);

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		padding: 20px;

		@include tablet-portrait {
			padding: 80px 20px;
		}
	}
	
	.close {
		position: absolute;
		top: -40px;
		right: 0;
		z-index: 10;

		@include tablet-landscape {
			right: -40px;
		}
		
		.close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $red;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $red;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}
}


#new-user {
	display: none;
	
	.info {
		background: $white;
		padding: 50px;
		border-radius: 10px;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	}

	section.subscribe {
		max-width: 600px;
	}
}


nav.pagination {
	width: 100%;
	padding-top: 50px;

	h2.screen-reader-text {
		display: none;
	}

	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		a, span {
			font-family: $proxima-nova;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $slate;
			width: 32px;
			height: 32px;
			margin: 0 5px;
			font-size: 0.875em;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			padding-top: 2px;
		}

		span.current {
			background: $red;
			border-color: $red;
			color: $white;
			font-weight: bold;

		}

		a.page-numbers {
			&:hover {
				background: $slate;
				color: $white;
			}

			&.next,
			&.prev {
				border: none;
				width: auto;
				height: auto;
				padding-top: 1px;

				&:hover {
					background: transparent;
					color: $slate;
					text-decoration: underline;
				}

			}

		}
	}
}

body.error404 {
	section#main {
		min-height: 60vh;
		padding: 100px 0;

		h2 {
			font-size: 3em;
			padding-bottom: 25px;
		}

		p {
			font-size: 1.25em;
		}
	}
}