/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://use.typekit.net/hvb2rav.css");
@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Regular.woff2") format("woff2"), url("fonts/TiemposHeadline-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-RegularItalic.woff2") format("woff2"), url("fonts/TiemposHeadline-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Bold.woff2") format("woff2"), url("fonts/TiemposHeadline-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-BoldItalic.woff2") format("woff2"), url("fonts/TiemposHeadline-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

/* Media Queries
----------------------------------*/
.wp-block-group {
  padding-top: 50px; }
  .wp-block-group h2 {
    font-family: "Tiempos Headline", serif;
    text-align: center;
    padding: 0 0 25px 0;
    font-size: 28px; }
    .wp-block-group h2:after {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background: #C02607;
      margin: 15px auto 0 auto; }
    @media screen and (min-width: 768px) {
      .wp-block-group h2 {
        font-size: 32px; } }
  .wp-block-group h4 {
    text-transform: uppercase;
    color: #C02607 !important;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 14px !important;
    padding: 0; }
    .wp-block-group h4 + h3 {
      padding-top: 10px; }
  .wp-block-group h3 {
    font-family: "Tiempos Headline", serif;
    font-size: 24px;
    line-height: 1.25em;
    padding-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .wp-block-group h3 {
        font-size: 28px; } }
