#page {
	transition: all 0.3s ease-in-out;

	&.open {
		transform: translateX(-75%);

		@include tablet-portrait {
			transform: translateX(-50%);
		}

		@include desktop {
			transform: translateX(-33.3333%);
		}
	}
}


nav.main-nav {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $red;
	color: $white;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: all 0.3s ease-in-out;

	a {
		color: $white;
	}

	&.open {
		transform: translateX(25%);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

		@include tablet-portrait {
			transform: translateX(50%);
		}

		@include desktop {
			transform: translateX(66.6667%);
		}
	}

	.nav-wrapper {
		height: 100vh;
		padding: 30px 50px;
		width: 75%;
		overflow: scroll;

		@include tablet-portrait {
			width: 50%;
		}

		@include desktop {
			width: 33.3333%;
		}

		.info {

			.logo {
				max-width: 250px;
			}

			.navigation {
				padding-top: 50px;

				.links {
					.link {
						padding: 10px 0;

						&.subscribe-link {
							@include tablet-portrait {
								display: none;
							}
						}

						a {
							font-size: 1.5em;
							display: inline-block;
							border-bottom: 2px solid transparent;

							&:hover {
								border-bottom: 2px solid $white;
							}
						}
					}
				}
			}


			.social {
				padding-top: 50px;

				.links {
					display: flex;
					align-items: center;

					.social-link {
						& + .social-link {
							padding-left: 40px;
						}

						&.twitter {
							padding-top: 1px;
						}
					}
				}
			}

		}
	}
}
