article.quick-hit-preview {
	
	& + article.quick-hit-preview {
		border-top: 1px solid $off-white;
	}
	


	a {
		display: flex;
		align-items: flex-start;
		padding: 20px 25px;

		&:hover {
			h3 {
				text-decoration: underline;
			}
		}
	}

	.photo {
		width: 52px;
		height: 52px;
		border: 1px solid $red;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.info {
		padding-left: 20px;
		flex: 1;

		&:only-child {
			padding-left: 0;
		}

		.tagline {
			padding-bottom: 10px;
		
			h4 {
				font-family: $proxima-nova;
				color: $red;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.75em;
				letter-spacing: 0.05em;
			}
		}

		.title {
			h3 {
				font-family: $proxima-nova;
				font-size: 1em;

			}
		}

		.meta {
			padding-top: 10px;
			
			em {
				display: block;
				font-family: $proxima-nova;
				color: $mid-gray;
				font-size: 0.8125em;
			}
		}
	}			
}