#search-form {
	display: none;

	.search-close {
		display: block;
		width: 40px;
		height: 40px;
		position: relative;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 35px;
		    height: 3px;
		    background: $white;
		    position: absolute;
		    z-index: 1;
		    border-radius: 2px;
		    transition: all 0.2s;
		    top: 19px;
		    left: 2px;
		}
		&:before {
		    transform: rotate(45deg);
		}
		&:after {
		    transform: rotate(-45deg);
		}
	}

	form {
		flex: 1;

	}

	.search-query {
		appearance: none;
		border: none;
		background: transparent;
		display: block;
		width: 100%;
		padding: 10px 0;
		font-size: 2em;
		font-family: $tiempos-headline;
		font-weight: bold;
		color: $white;
		z-index: 100000;
		border-bottom: 5px solid $white;

		@include tablet-portrait {
			font-size: 4em;
		}

		@include placeholder {
			color: $white;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}
}


body.search-open {
	overflow: hidden;

	#search-form {
		display: block;

		.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: rgba(233, 59, 58, 0.9);
			z-index: 10000;
		}

		.overlay-wrapper {
			max-width: 1004px;
			margin: auto;
			padding: 150px 25px 0 25px;
			display: flex;
			align-items: center;
		}
	}	
}